/* 
Student Name: Thi Thanh Nguyen Nguyen
Student ID  : 144128188
Course      : WEB222NEE
Assignment  : Final
 */

@import url(https://fonts.googleapis.com/css?family=Lobster);

/****************** General setting for the whole page ******************/
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 12pt;
  box-sizing: border-box;
}

/****************** Format header ******************/
.logo {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  padding-bottom: 1em;
  text-align: center;
}
.name {
  padding-bottom: 0.9em;
  margin-top: 10px;
  margin-bottom: 5px;
}
nav {
  background-color: none;
  flex: 1;
  width: 1100px;
}
.link_ {
  color: white;
  text-decoration: none;
  font-size: small;
}
.link_:hover {
  color: white;
  text-decoration: none;
  text-emphasis: none;
}

/****************** Format menu bar ******************/
.menu-bar ul {
  display: inline-flex;
  float: right;
}
.menu-bar ul li {
  border-left: 1px solid #ffffff;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: green;
  text-decoration: none;
}
.fa-shopping-cart {
  margin-right: 5px;
}

/****************** Format for displaying images ******************/
#group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row2 {
  justify-content: space-between;
  margin: 100px 0;
}

/* Format navigation bar */
nav {
  background-color: none;
  flex: 1;
  width: 1100px;
}
.container {
  width: 1100px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.container .bar {
  width: 100%;
  margin: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}
.add,
.add a {
  font-size: 10pt;
  width: 100pt;
  line-height: 1.2em;
}

aside {
  float: left;
  padding-left: 3em;
  padding-top: 1.5em;
  padding-right: 3em;
  padding-bottom: 1.2em;
}
nav a:link,
nav a:visited {
  display: block;
  color: black;
  font-weight: bold;
  background-color: #fdb6d1;
  text-align: left;
  padding: 10px 14px;
  text-decoration: none;
  border-left: 1px inset #ecefec;
  border-right: 1px inset #ecefec;
}

nav ul li ul {
  padding: 8px 12px;
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}

nav ul li:hover ul {
  display: block;
  padding: 0;
  width: 200px;
  opacity: 2;
  visibility: visible;
}

nav ul li ul li {
  display: block;
  width: 180px;
}

nav a:hover {
  background-color: rgb(131, 189, 33);
}
.clear {
  clear: both;
}

/****************** Format search bar ******************/
.fa-search {
  color: white;
}
.search-container {
  display: inline-flex;
  padding: 2px;
  margin-left: 10px;
  font-size: 12px;
  width: 290%;
}
.search-container input {
  float: right;
}
.search-container span {
  float: right;
}

.search-container::after {
  content: '';
  clear: both;
  display: table;
}
.search-container input[type='text'] {
  padding: 6px;
  font-size: 12px;
  border: 1px solid white;
  float: left;
  width: 80%;
  background: white;
}

/****************** Format subscribe form ******************/
#subscribe {
  position: absolute;
  font-weight: bold;
  margin-left: 150px;
  text-align: left;
  font-style: italic;
  width: 100%;
}

#subscribe input[type='email'] {
  margin-left: 20px;
  width: 20%;
}

/****************** Format form ******************/
select {
  border: 1px solid green;
  border-radius: 4%;
  padding: 5px;
}
select:focus {
  outline: none;
}
.form-control {
  margin-top: 5px !important;
  margin-left: 5px !important;
  border: 1px solid rgb(131, 189, 33) !important;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
}
.input-group-text {
  margin-top: 5px;
  background: rgb(131, 189, 33) !important;
  border: 1px solid rgb(131, 189, 33) !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  cursor: pointer;
}

.show_box {
  position: relative;
  transform: scale(1);
}
#format_box {
  width: 28em;
  height: 12em;
}
textarea {
  position: absolute;
  transform: scale(0);
}
.form {
  margin: 0 auto;
  padding: 1.5em;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 1em;
}
.form input {
  padding: 10px;
  font-size: inherit;
}

.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.form input[type='tel'] {
  display: inline-block;
  margin-bottom: 35px;
  margin-left: 5%;
  width: 70%;
  border: 1px solid darkgreen;
}
.form input[type='radio'] {
  margin: 0 7px 2px 1px;
}
.form input[type='radio']:first-child {
  margin-left: 1em;
  font-size: 15pt;
}

.form button[type='submit'],
.form button[type='reset'] {
  width: 90px;
  height: 40px;
  margin: 0.2em;
  margin-left: 20%;
  font-weight: bold;
}
.form input:focus,
.form button:focus {
  background-color: papayawhip;
}
label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: left;
}
#special {
  display: inline;
}

/***************** Format footer ******************/
#icon1,
#icon3 {
  float: left;
  width: 20%;
  padding: 18px;
  padding-left: 0%;
  padding-right: 0%;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
.social_media .fa {
  font-size: 18px;
  cursor: pointer;
}
#menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.col2 small {
  color: #555;
  font-size: 12pt;
}
#foot_ {
  font-size: smaller;
  position: absolute;
  font-weight: bold;
  text-align: left;
  padding-top: 0.7em;
  width: 100%;
}
footer section {
  background-color: rgba(0, 0, 0, 0.829);
  padding-top: 0.5em;
  padding-left: 2em;
  text-align: left;
  color: white;
  height: 15em;
}
footer section.format_foot {
  background-color: rgba(0, 0, 0, 0.829);
  border-top: 1pt solid green;
  height: 3em;
}

/****************** Format button ******************/
.col2 .btn {
  display: inline-block;
  background: orangered;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.col4 .btn-cart {
  display: inline-block;
  background: orangered;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

/****************** Format service html file ******************/
.service {
  margin: 30px 0;
  font-size: 30pt;
  font-family: 'Dancing Script', cursive;
  color: green;
}

.col2 h1 {
  color: green;
  text-align: left;
  font-size: 40pt;
  font-family: 'Dancing Script', cursive;
}

/****************** Format text ******************/
h1 {
  color: green;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 8pt;
  font-family: 'Dancing Script', cursive;
}

h4 {
  color: red;
  text-align: center;
  font-size: 12pt;
  font-style: italic;
}
h6 {
  display: none;
}
.note {
  color: red;
  text-align: center;
  font-size: 10pt;
  font-style: italic;
}

.col4 h4 {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: bold;
  color: black;
  font-style: normal;
}
.col4 p {
  font-size: 14px;
  margin-left: 20px;
}

/****************** Format banner ******************/
.banner_img {
  padding: 80px;
  margin: 50px;
  max-width: 100%;
  width: 60%;
}
.banner_img img {
  width: 100%;
  margin-bottom: -80px;
}
.banner {
  position: relative;
  flex-basis: 50%;
  min-width: 200px;
}
.banner_title {
  position: absolute;
  left: 60%;
  top: 50%;
}
.banner_title h4 {
  font-size: 40px;
  background-color: rgb(10, 176, 182);
  color: white;
  line-height: 70px;
  padding: 0px 10px 0 10px;
  font-family: 'Dancing Script', cursive;
}
.center {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}
.trends_container {
  padding: 20px 10px;
}
.box {
  margin: 20px 10px;
}
.row .col2 h3 {
  text-align: left;
  line-height: 60px;
  margin: 0 auto 80px;
  padding: 20px 10px;
  font-family: 'Dancing Script', cursive;
  font-size: 30pt;
}

/****************** Format title for each page******************/
.title {
  text-align: center;
  line-height: 30px;
  margin: 0 auto 50px;
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: 'Lobster Two', cursive;
  font-size: 30pt;
}
.title::after {
  content: '';
  background: #ff523b;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.title_page {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 25pt;
  font-weight: bold;
  color: green;
  font-style: normal;
}
.col4 h4 {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: bold;
  color: black;
  font-style: normal;
}
.col4 p {
  font-size: 14px;
  margin-left: 20px;
}
.rating .fa {
  color: orangered;
}
.categories {
  margin: 20px 0;
  margin-bottom: 0;
}
.col4:hover {
  transform: translateY(-5px);
}
.col4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col4 figure {
  width: 100%;
}

.col4 .rating {
  margin-left: 20px;
}
.title_center {
  margin: 0 auto 80px;
  height: 100px;
  width: 50%;
  max-width: 700px;
  background: #ffffff;
  position: relative;
}

.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid green;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: orangered;
  color: #ffffff;
}
.title_center::after {
  content: '';
  height: 100px;
  width: 200px;
  background-color: rgb(10, 176, 182);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}
.title_center::before {
  content: '';
  height: 100px;
  width: 200px;
  background-color: rgb(10, 176, 182);
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

/****************** Format price for each items ******************/
.old {
  text-decoration: line-through;
}
.new {
  color: rgba(0, 0, 0, 0.842);
  font-weight: bold;
}

/****************** Format offer part ******************/
.offer {
  background: radial-gradient(#fff, #d6ffd8);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 18px 0;
}
.offer .small-container .row .co2 {
  background: radial-gradient(#fff, #deffd6);
  margin-top: 80px;
  padding: 30px 0;
}

.col5 {
  flex-basis: 30%;
  margin: 50px auto;
  width: 80%;
}
.col5 img {
  cursor: pointer;
  width: 80%;
  filter: grayscale(100%);
}
.col5 img:hover {
  filter: grayscale(0%);
}
.col3 {
  flex-basis: 30%;
  min-width: 250px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.col3 img {
  width: 100%;
}

/****************** Format small-container div ******************/
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container h3 {
  font-weight: bold;
}
.btn-buy {
  width: 100px;
  padding: 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: 0.6s;
  opacity: 0;
  z-index: 1;
}
.col3:hover .btn-buy {
  transform: translate(-50%, 50%);
  bottom: 50%;
  opacity: 1;
}
.overlay {
  height: 0;
  width: 100%;
  background: #333333;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.col3:hover .overlay {
  opacity: 0.5;
  height: 100%;
}
.menu-bar {
  margin-top: 20px;
  width: 40%;
  height: 57px;
  float: right;
}

/****************** Format note for each category ******************/
.benefit {
  color: #555;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: italic;
  font-size: 15pt;
  line-height: 30pt;
  text-align: center;
}

/* Setting to pop up and close image */
figure {
  float: left;
  margin: 1em 2em 0 0;
  height: 280px;
}

figure img {
  padding: 10px;
  border: 1px solid pink;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

figure figcaption {
  width: 200px;
  font-size: 0.7em;
  padding: 5px;
  margin-left: -1000em;
  margin-top: -20px;
  background-color: #ffa;
  border: 1px solid #ffad33;
  border-radius: 5px;
  position: relative;
}

figure:hover figcaption {
  margin-left: 50px;
}

#popup {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  cursor: default;
  z-index: 1000;
}

#popup .image {
  max-width: 1000px;
}

#popup .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  font: bold 24px arial, sans-serif;
  color: white;
  background-color: darkred;
  padding: 2px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
}

#popupbg {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/************** Set a responsive website ***********/
@media only screen and (max-width: 880px) {
  .container {
    height: 100px;
    border-bottom: 0;
  }
  .menu-bar {
    margin: -10px;
    width: 100%;
  }
  .search-container {
    width: 90%;
  }

  .menu-bar ul {
    margin: 0px;
    width: 90%;
  }
  .menu-bar ul li {
    width: 100%;
  }
  .logo {
    width: 10%;
    margin-left: 80px;
  }
  .name {
    width: 30%;
    margin: 10px 0px;
  }

  .container .bar nav ul {
    width: 45%;
    position: absolute;
    top: 130px;
    left: 0;
    background: #333;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .container .bar nav ul li {
    width: 100%;
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container .bar nav ul li a {
    color: white;
    background: #333;
    border-left: none;
    border-right: none;
  }
  .container .bar nav ul li ul {
    width: 100%;
    position: absolute;
    top: 130px;
    left: 100px;
    background: green;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .container .bar nav ul li ul li {
    width: 100%;
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container .bar nav ul li ul li a {
    color: white;
    background: green;
    border-left: none;
    border-right: none;
  }
  #menu-icon {
    display: block;
    cursor: pointer;
  }
  #foot_ {
    margin-left: -20px;
    width: 80%;
  }
  footer section {
    width: 100%;
    height: 900px;
    margin: auto;
  }
  footer section.format_foot {
    height: 70px;
    width: 100%;
  }
  #subscribe {
    position: absolute;
    font-weight: bold;
    margin-left: -10px;
    text-align: left;
    font-style: italic;
    width: 100%;
  }

  #subscribe input[type='email'] {
    margin-left: 0px;
    width: 55%;
  }
  .form {
    margin: 0 auto;
    padding: 1.5em;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  .form input {
    padding: 10px;
    font-size: inherit;
  }

  .form input[type='text'],
  .form input[type='password'],
  .form input[type='email'],
  .form input[type='tel'] {
    display: inline-block;
    margin-bottom: 35px;
    margin-left: 5%;
    width: 60%;
    border: 1px solid darkgreen;
  }
  .form input[type='radio']:first-child {
    margin-left: -0.5em;
    font-size: 15pt;
  }
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col2,
    .col3,
    .col4 {
      flex-basis: 100%;
    }
  }
}
